{% extends '@EasyAdmin/default/layout.html.twig' %}


{% block header_logo %}
    <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
        {{ is_granted('ROLE_ADMIN') ? 'Admin Panel' : 'User Panel' }}
    </a>
{% endblock header_logo %}

{% block body_class %}{{ app.user.roles|default([])|join(' ')|lower }}{% endblock %}
