<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Lawson Conner Test Application{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/todo">TODO</a></li>
            <li><a href="/application">Application</a></li>
        </ul>
    {% endblock %}
</div>
<div id="content">
    <div id="wrapper">
        <div id="container">

            {% include('flash-messages.html.twig') %}

            {% if app.user %}
                <a href="{{ path('app_security_logout') }}">Logout</a>
            {% endif %}

            {% block body %}{% endblock %}

        </div>
    </div>
</div>

{% block javascripts %}{% endblock %}

</body>
</html>